.provide-form {
    width: 450px;
    border-radius: 30px;
    height: 500px;
    padding: 35px;
    padding-top: 40px;
    filter: drop-shadow(17px 12px 70px #b5471e);
    position: relative;
    margin: 25px;
    margin-top:0;
}
.btn-footer {
    margin-top: 60px;
    button {
        margin: 0 auto;
    }
}
.icon-add {
    width: 24px;
    height: 24px;
    margin: 20px auto;
    margin-bottom: 0;
}
.icon-back {
    position: absolute;
    top: 40px;
    left: -20px;
    width: 45px;
    height: 33px;
    cursor: pointer;
}
