@media (min-width: 751px) {
    @import '~@/assets/styles/iron.less';

    .npc-dilaog {
        // background: chocolate;
        position: fixed;
        left: 0;
        bottom: 0;

        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        transition: all 0.37s;

        &.show {
            transform: translateX(0);
        }

        &.hide {
            transform: translateX(-100%);
        }

        .dialog-box {
            height: 628px;
            width: 1047px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            position: relative;
            padding-bottom: 200px;
            padding-left: 388px;

            &.home {
                padding-top: 230px;
                padding-left: 470px;
            }

            .npc {
                width: 626px;
                object-fit: contain;
                flex-shrink: 0;
                position: absolute;
                bottom: 0;
                left: 0;

                &.home {
                    height: 510px;
                    width: 516px;
                }
            }

            .words {
                #image.dinamicBg('~@/assets/images/npc-dialog-words-bg.png', 50%, 'vertical');

                &:before {
                    background-size: 100% 170%;
                }
                &:after {
                    background-size: 100% 150%;
                }

                width: 517px;
                max-width: 517px;
                min-height: 220px;
                padding: 50px 66px 100px 56px;
                box-sizing: border-box;

                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 174%;
                /* or 28px */

                text-align: justify;
                position: relative;
                display: flex;

                /* 辅助色3-深红色 */

                color: #460d12;

                > a {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ac4c06;
                    min-width: 80px;
                    position: absolute;
                    right: 66px;
                    bottom: 86px;
                    z-index: 3;
                }

                > span {
                    position: relative;
                    z-index: 1;
                    word-break: break-all;
                    white-space: normal;
                    display: inline-block;
                }
            }
        }
    }
}
