.group-scale {
    display: flex;
    align-items: center;

    .btn-scale {
        min-width: 44px;
        // height: 20px;
        border: 1px solid rgba(225, 171, 59, 0.7);
        padding: 2px 7px;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: rgba(225, 171, 59, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        &:nth-child(n + 2) {
            margin-left: 14px;
        }

        &.active {
            background: #e1ab3b;
            border: 0.4px solid #e1ab3b;
            box-shadow: 3px 4px 4px rgba(252, 209, 68, 0.2);
            font-weight: bold;
            color: #1c1c1d;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: 31.2px;
                height: 36px;
                left: -5px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../../assets/images/mint-focus.png') no-repeat;
                background-size: 62.4px, 36px;
                background-position: left center;
            }
            &:after {
                content: '';
                position: absolute;
                width: 31.2px;
                height: 36px;
                right: -5px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../../assets/images/mint-focus.png') no-repeat;
                background-size: 62.4px, 36px;
                background-position: right center;
            }
        }
    }
}
