.burn-type {
    margin: 20px 0;
    p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 10px;
    }
    .btns {
        > button {
            border: 1px solid rgba(255, 255, 255, 0.4);
            box-sizing: border-box;
            border-radius: 4px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.4);
            margin-right: 15px;
            background: none;
        }
    }
}
