@navHeight: 120px;

.header-nav {
    height: @navHeight;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 29px 22px 9px 22px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    .logo {
        flex-shrink: 0;
        width: 145px;
        object-fit: contain;
    }

    .right-box {
        display: flex;
        align-items: center;
    }
}
