.footer-container {
  width: 100%;
  height: 100px;
  background: rgba(71, 57, 44, 0.34);
  padding: 20px 28px;
  position: fixed;
  bottom: 0;
  left: 0;

  .ftoken-price {
    display: flex;
    margin-bottom: 20px;
    span {
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #fcd144;
    }
    .price {
      font-weight: 700;
      margin-right: 20px;
      margin-left: 10px;
    }
    .rate {
      color: #16c772;
    }
  }
  .footer-info {
    display: flex;
    align-items: center;
    .language {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #fcd144;
      > img {
        width: 18px;
        height: 18px;
        margin-right: 7px;
      }
    }
    .divider {
      width: 2px;
      height: 16px;
      background: rgba(208, 102, 71, 0.2);
      margin: 0 22px;
    }
    .medias {
      > img {
        cursor: pointer;
        width: 18px;
        height: 18px;
        margin-right: 16px;
      }
    }
  }
}
