.mint-container {
    background: #87737e;
    padding: 40px 30px;
    border-radius: 25px;
    width: 500px;
    float: right;
    margin: 30px 40px;
}
.input-item {
    margin-bottom: 10px;
    .label {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        align-items: center;
        color: #ffffff;
    }
    .input-item-content {
        background: rgba(64, 60, 57, 0.8);
        border: 1px solid rgba(178, 178, 181, 0.5);
        box-sizing: border-box;
        backdrop-filter: blur(20px);
        border-radius: 6px;
        padding: 9px 12px;
        .content-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 13px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            .left {
                color: rgba(255, 255, 255, 0.7);
            }
            .right {
                color: #ffffff;
                .price {
                    font-weight: 700;
                }
            }
        }
        .input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .token {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                color: #ffffff;
            }
        }
    }
}

.icon-add {
    margin: 10px auto;
    display: block;
}

.custom-input {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255);
    border: none;
    background: none;
    width: 60%;
}

.btn-mint {
    cursor: pointer;
    display: block;
    width: 356px;
    height: 44px;
    background: linear-gradient(
        90.04deg,
        #724814 1.14%,
        rgba(172, 123, 64, 0) 104.11%
    );
    box-shadow: inset 0px 1px 1px rgba(255, 241, 118, 0.4);
    border-radius: 6px;
    margin: 30px auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;

    color: #fcb244;

    border: 3.2px solid #3a1f04;
    text-shadow: 0px 0px 1px rgba(134, 96, 31, 0.9);
}
.ratio {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    .ant-progress-text {
        color: #ffffff;
    }
}
