@import '~@/layouts/components/Header/less/mobile.less';

@usdt: unset;
@usdc: unset;
@usd: unset;
@btc: unset;
@eth: unset;

.token-color(@geometric) {
    &.@{geometric}-usdc {
        & when(@geometric=bar) {
            background: unset;
        }

        & when(@geometric=dot) {
            &:before {
                background: unset;
            }
        }
    }

    &.@{geometric}-usdt {
        & when(@geometric=bar) {
            background: unset;
        }

        & when(@geometric=dot) {
            &:before {
                background: unset;
            }
        }
    }

    &.@{geometric}-usd {
        & when(@geometric=bar) {
            background: unset;
        }

        & when(@geometric=dot) {
            &:before {
                background: unset;
            }
        }
    }

    &.@{geometric}-btc {
        & when(@geometric=bar) {
            background: unset;
        }

        & when(@geometric=dot) {
            &:before {
                background: unset;
            }
        }
    }

    &.@{geometric}-eth {
        & when(@geometric=bar) {
            background: unset;
        }

        & when(@geometric=dot) {
            &:before {
                background: unset;
            }
        }
    }
}

.image {
    background-position: unset;
    background-repeat: unset;
    background-color: unset;
    background-size: unset;
    display: unset;
    flex-shrink: unset;
    flex-grow: unset;
}

.dot(@size: 16px, @marginRight: 0px, @bgColor: transparent) {
    display: unset;
    align-items: unset;

    &:before {
        content: unset;
        width: unset;
        height: unset;
        border-radius: unset;
        display: unset;
        background-color: unset;
        flex-shrink: unset;
        margin-right: unset;
    }

    & when (@bgColor=transparent) {
        .token-color(dot);
    }
}

#image {
    .background(@bgImage, @bgColor: transparent) {
        background-position: unset;
        background-repeat: unset;
        background-image: unset;
        background-color: unset;
        background-size: unset;
        flex-shrink: unset;
    }

    .dinamicBg(@image, @ratio: 50%, @direct: 'hortizontal') {
        position: unset;

        &:before {
            flex: unset;
            content: unset;
            position: unset;
            background-size: unset;
            background-repeat: unset;
            background-image: unset;

            & when (@direct ='hortizontal') {
                width: unset;
                height: unset;
                top: unset;
                transform: unset;
                left: unset;
                background-position: unset;
            }

            & when (@direct ='vertical') {
                width: unset;
                height: unset;
                left: unset;
                transform: unset;
                top: unset;
                background-position: unset;
            }
        }

        &:after {
            flex: unset;
            content: unset;
            position: unset;
            background-size: unset;
            background-repeat: unset;
            background-image: unset;

            & when (@direct ='hortizontal') {
                width: unset;
                height: unset;
                top: unset;
                transform: unset;
                right: unset;
                background-position: unset;
            }

            & when (@direct ='vertical') {
                width: unset;
                height: unset;
                left: unset;
                transform: unset;
                bottom: unset;
                background-position: unset;
            }
        }
    }

    .icon(@size, @bgImage, @bgColor: transparent, @pure: true) {
        .background(@bgImage, @bgColor);

        width: unset;
        height: unset;
        display: unset;

        & when (@pure =true) {
            border: unset;
            outline: unset;
            margin: unset;
            padding: unset;
        }
    }

    .button(@bgImage, @bgColor: transparent) {
        .background(@bgImage, @bgColor);

        border: unset;
        outline: unset;
        margin: unset;
        padding: unset;
    }
}

#position {
    .parent() {
        position: unset;
    }

    .absHorizCenter(@moveTop: -20%, @top: 0) {
        position: unset;
        left: unset;
        top: unset;
        transform: unset;
    }

    .absLtCorner(@move: translate(0%, 0%)) {
        position: unset;
        left: unset;
        top: unset;
        transform: unset;
    }

    .absRtCorner(@move: translate(0%, 0%)) {
        position: unset;
        right: unset;
        top: unset;
        transform: unset;
    }

    .absRbCorner(@move: translate(0%, 0%)) {
        position: unset;
        right: unset;
        bottom: unset;
        transform: unset;
    }
}

.page-container(@image: '') {
    #image.background(@image);
    padding-top: unset;
    display: unset;
    flex-direction: unset;
    min-width: unset;
    min-height: unset;
    background-size: unset;
    background-position: unset;
    padding-bottom: unset;
}
