/**
 * * 各种按钮
 */
button {
    transition: 0.2s all;
    border: none;
    outline: none;
    background-color: transparent;
}

.common-btn-red {
    background: url(../images/common-btn-red.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 1);
}

.common-btn-red:hover {
    background: url(../images/common-btn-red-hover.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(41, 39, 37, 1);
}

.common-btn-red:disabled {
    background: url(../images/common-btn-red-disabled.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 0.7);
}

.common-btn-yellow {
    background: url(../images/common-btn-yellow.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 1);
}

.common-btn-yellow:hover {
    background: url(../images/common-btn-yellow-hover.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(41, 39, 37, 1);
}

.common-btn-yellow:disabled {
    background: url(../images/common-btn-yellow-disabped.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 0.7);
}

.common-btn-pale {
    background: url(../images/common-btn-yellow-disabped.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 0.7);
}

.common-btn-pale:hover {
    background: url(../images/common-btn-yellow-disabped.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 1);
}

.common-btn-pale:disabled {
    background: url(../images/common-btn-yellow-disabped.png) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 254, 254, 0.7);
}
