@usdt: linear-gradient(90deg, #fcd144 85.54%, #ffad33 98.08%);
@usdc: linear-gradient(90deg, #26a17b 85.54%, #0c8f67 98.08%);
@usd: linear-gradient(116.98deg, #611bf6 31.39%, #8d33ff 83.13%);
@btc: linear-gradient(116.98deg, #f6911b 31.39%, #ffcb44 83.13%);
@eth: linear-gradient(116.98deg, #c4c3c7 31.39%, #72727a 83.13%);

.token-color(@geometric) {
    &.@{geometric}-usdc {
        & when(@geometric=bar) {
            background: @usdc;
        }

        & when(@geometric=dot) {
            &:before {
                background: @usdc;
            }
        }
    }

    &.@{geometric}-usdt {
        & when(@geometric=bar) {
            background: @usdt;
        }

        & when(@geometric=dot) {
            &:before {
                background: @usdt;
            }
        }
    }

    &.@{geometric}-usd {
        & when(@geometric=bar) {
            background: @usd;
        }

        & when(@geometric=dot) {
            &:before {
                background: @usd;
            }
        }
    }

    &.@{geometric}-btc {
        & when(@geometric=bar) {
            background: @btc;
        }

        & when(@geometric=dot) {
            &:before {
                background: @btc;
            }
        }
    }

    &.@{geometric}-eth {
        & when(@geometric=bar) {
            background: @eth;
        }

        & when(@geometric=dot) {
            &:before {
                background: @eth;
            }
        }
    }
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
}

.dot(@size: 16px, @marginRight: 0px, @bgColor: transparent) {
    display: flex;
    align-items: center;

    &:before {
        content: '';
        width: @size;
        height: @size;
        border-radius: 50%;
        display: inline-block;
        background-color: @bgColor;
        flex-shrink: 0;
        margin-right: @marginRight;
    }

    & when (@bgColor=transparent) {
        .token-color(dot);
    }
}

#image {
    .background(@bgImage, @bgColor: transparent) {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(@bgImage);
        background-color: @bgColor;
        background-size: contain;
        flex-shrink: 0;
    }

    .icon(@size, @bgImage, @bgColor: transparent, @pure: true) {
        .background(@bgImage, @bgColor);

        width: @size;
        height: @size;
        display: inline-block;

        & when (@pure =true) {
            border: none;
            outline: none;
            margin: 0;
            padding: 0;
        }
    }

    .button(@bgImage, @bgColor: transparent) {
        .background(@bgImage, @bgColor);

        border: none;
        outline: none;
        margin: 0;
        padding: 0;
    }
}

#position {
    .parent() {
        position: relative;
    }

    .absHorizCenter(@moveTop: -20%, @top: 0) {
        position: absolute;
        left: 50%;
        top: @top;
        transform: translate(-50%, @moveTop);
    }

    .absLtCorner(@move: translate(0%, 0%)) {
        position: absolute;
        left: 0;
        top: 0;
        transform: @move;
    }

    .absRtCorner(@move: translate(0%, 0%)) {
        position: absolute;
        right: 0;
        top: 0;
        transform: @move;
    }

    .absRbCorner(@move: translate(0%, 0%)) {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: @move;
    }
}
